* {
    box-sizing: border-box;
  }
  body {
    background-color: #29293d;
    color: white;
  }
  #page-wrapper {
    position: relative;
  }
  li {
    list-style: none;
  }
  a {
    color: black;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0 5px;
  }
  header {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 50px;
  }
  @media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }
  .logo {
    display: flex;
    align-content: flex-start;
    margin-top: -125px;
    margin-left: -150px;
    
  }
  @media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
  }
  .logo >img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-left: 5px;
  }
  @media (max-width: 650px) {
    .logo > img {
      margin: 0 auto;
    }
  }
  @media (max-width: 650px) {
nav {
margin: 50px;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
text-align: right;
padding: 0 50px;
}
nav li {
padding-bottom: 5px;
margin-left: 10px;
}
}

nav > ul {
width: 35vw;
display: flex;
flex-direction: row;
justify-content: space-around;
}

@media (max-width: 650px) {
nav > ul {
flex-direction: column;
}
}
  #hero {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 200px;
   margin-top: -70px;
    font-size: 130%;
    
}

#hero > h3 {
margin-bottom: 20px;
word-wrap: break-word;
}

#hero input[type="email"] {
max-width: 275px;
width: 100%;
padding: 5px;
}

#hero input[type="submit"] {
max-width: 150px;
width: 100%;
height: 30px;
margin: 15px 0;
border: 0;
background-color: #f1c40f;
}

#hero input[type="submit"]:hover {
background-color: orange;
transition: background-color 1s;
}

@media (max-width: 650px) {
#hero {
margin-top: 120px;
}
}
   
  .timeline {
    position: relative;
    max-width: 1200px;
    margin-top: 100px;
    color: black;
    font-family: 'Archivo Narrow', sans-serif;
    text-align: justify;
  }
  .timeline::after {
    content:" ";
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  .timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  .timeline-container::after {
    content: " ";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  .left {
    left: 0;
  }
  .right {
    left: 50%;
  }
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0px;
    border-color: transparent white transparent transparent;
  }
  .right::after {
    left: -16px;
  }
  .timeline-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  @media screen and (max-width: 600px) {
    .timeline:: after {
      left: 31px;
    }
    .timeline-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
    .timeline-container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0px;
      border-color: transparent white transparent transparent;
    }
    .left::after, .right::after {
left: 15px;
}
    .right {
left: 0%;
}
  }
  #technology {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .features-grid {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     width: calc(100%  / 3);
     margin: 10px;
     border: 3px solid orange;
     border-radius: 3px;
  }
  .features-grid > .icon {
    padding: 15px 0;
    width: 100px;
    height: 24px;
    font-size: 24px;
    
  }
  @media (max-width: 800px) {
    #technology {
      flex-direction: column;
    }
    .features-grid {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
  #materials {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  #materials > iframe {
    max-width: 1000px;
    width: 100%;
  }
  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  #order-now {
    margin-top: 100px;
  }
  .pricing-grid {
    display: flex;
    margin: 20px;
  }
  #order-now .product-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 550px) {
    #order-now .product-image {
      display: none;
    }
  }
  #order-now .pricing-details {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     padding: 50px;
    font-size: large;
    margin-left: 5px;
    
  }
  @media (max-width: 550px) {
    #features .pricing-details {
      width: 100%;
      text-align: center;
      padding: 0;
    }
  }
  #order-now .original-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
    opacity: 0.5;
    text-decoration: line-through;
    padding: 0 5px;
    margin-top: 70px;
  }
  #order-now .reduced-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    margin-top: 70px;
  }
  .cta {
    padding: 0 20px;
    margin-top: 120px;
    height: 50px;
    font-size: 100%;
    font-weight: 700;
    border: 3px orange solid;
    border-radius: 10px;
    background: orange;
    cursor: pointer;
  }
  footer {
margin-top: 100px;
background-color: white;
padding: 5px;
}

footer > ul {
display: flex;
justify-content: flex-end;
}

footer > ul > li {
padding: 0 10px;
}

footer > span {
margin-top: 0px;
display: flex;
justify-content: flex-end;
font-size: 0.9em;
color: black;
}
  